// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // about // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#about {
  #mainWindow {
    left: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .custome-window {
    &--header {
      div:has(> .v-btn) {
        position: absolute;
        left: 10px;
      }
    }

    &--content {
      display: flex;
      align-items: center;
      justify-content: center;
      // &::-webkit-scrollbar {display: none}

      p {--fs: 14px}
    }
  }
}
