// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // fill form // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#fillForm {
  .custome-window:not(#mainWindow) {
    left: 0;
    right: 0;
    margin: auto;
  }

  #fillFormWindow ::-webkit-scrollbar {display: none}

  #mintNftWindow {
    .nft-preview {
      --w: 100%;
      aspect-ratio: 1 / 1;
      // height: 25em;
    }

    .controls {
      --gap: 30px;

      width: calc(100% - 50px);
      gap: var(--gap);
      margin-left: auto;
      .v-btn {
        --w: 126px;
        --h: 34px;
        --min-h: 34px;
        --fs: 13px;
      }
    }
  }
}
