// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // login // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#login {
  .custome-window {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    span:has(a), a, label span {font-size: 11px}
  }
}
