// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // new form // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#newForm {
  --margin-input: calc(14px + 8px * 2);
  .custome-window:not(#mainWindow, #statsFormComplement) {
    left: 0;
    right: 0;
    margin: auto;
    .custome-window--content {
      .v-form, .v-sheet:not(.v-list) {
        .v-btn {
          --h: 52px;
        }
      }
    }
  }

  .container-answers {
    margin-bottom: 50px;

    > .v-input {
      width: max-content;
      padding-top: 5px !important;
      
      .pts {
        --bg: var(--primary);
        --b: 2px solid var(--accent);
        --c-label: hsl(0 0% 0% / .6);
        --fs: 12px;
        --fs-label: 12px;
        --w-size: 60px;
        --h-size: 20px;
        --min-w: var(--w-size) !important;
        --max-w: var(--w-size) !important;
        --w: var(--w-size) !important;
        --min-h: var(--h-size) !important;
        --max-h: var(--h-size) !important;
        --h: var(--h-size) !important;
        --p: 0 5px;

        * {text-align: center}
        .v-label {
          margin: auto !important;
          left: 0 !important;
          right: 0 !important;
        }
        .v-text-field__details {display: none !important}
        .v-input__slot {margin-bottom: auto !important}
      }
      
      .v-input__append-inner {margin: auto !important}
    }
  }

  #zeroForm {
    .input-nfts {
      .v-input__control {
        margin-right: 20px;
      }
      .v-input__append-outer {
        margin: 0 !important;
        img {
          margin-bottom: var(--margin-input);
        }
      }
    }
    span + h4 {margin-top: 10px}
  }

  #editForm {
    .container-edit {
      & > *:not(.v-input) {margin-bottom: var(--margin-input)}
      .v-btn, .v-input {--h: 36px !important; --min-h: none !important}
      .v-btn {
        --fs: 14px;
        max-width: 126px !important
      }
    }
  }
}

// modals
.v-dialog .custome-window {
  visibility: visible !important;
}
