// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // custome window // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.custome-window {
  position: absolute !important;
  visibility: hidden;
  
  @include card;
  
  &.show {
    visibility: visible;
    @include animation(.2s $ease-return) {
      from {
        transform: scale(.5);
        opacity: 0;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &--header {
    background: var(--clr-gradient) !important;
    border-bottom: var(--c-size) solid var(--accent);
    min-height: var(--h-toolbar);
    max-height: var(--h-toolbar);
    clip-path: $clip-path-top;
    
    .v-toolbar__content {
      min-height: inherit;
      max-height: inherit;
      padding-top: 0;
      
      h2 {
        --c: #fff;
        cursor: default;
      }
    }
    
    .v-btn {
      background-color: transparent !important;
      box-shadow: none !important;
      min-width: max-content !important;
      width: max-content !important;
      padding: 0 !important;
    }
  }

  &--content {
    overflow-y: auto;
    height: calc(100% - var(--h-toolbar));
    display: flex;
    flex-direction: column;
    clip-path: $clip-path-bottom;
    > .v-form:not(.not_bg), > .v-sheet:not(.v-list, .not_bg),
    > .v-window:not(.not_bg) {
      background-color: var(--secondary) !important;
      border: 2px solid var(--accent) !important;
      padding: 20px;
      overflow: auto;
      height: 100%;
    }
  }
}
