// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // footer // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.v-footer {
  border-top: 10px solid var(--secondary) !important;
  .row {
    padding-block: 5px;
    letter-spacing: 0.03em;
    span {font-size: clamp(13px, 1vw, 16px)}
  }
}
