// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // navbar // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#navbar {
  transform: translateX(calc(var(--w-navbar) * -1));
  z-index: -1;
  .v-toolbar__content {
    flex-direction: column;
    height: 100% !important;
    padding: 0;
    gap: 30px;
    .v-btn {
      padding: 2px;
      box-shadow: none !important;
      max-height: max-content !important;
      height: max-content !important;
      &__content {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
