// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // home // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#home {
  @include parent;
  padding-left: var(--w-navbar);
  gap: 4em;
  height: 100%;
  position: relative;
  isolation: isolate;
  z-index: 10;
  pointer-events: none;
  * {pointer-events: all}
}
