// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // home // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#home {
  @include parent;
  padding-left: var(--w-navbar);
  gap: 4em;
  height: 100%;
}
