// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: center no-repeat fixed url(../../sources/images/bg-app.jpg);
  background-size: cover;
  height: 100vh;

  //- responsive font size -//
  & > * {
    font-size: clamp(12px, 1vw, 16px);
  }
  .v-main {
    & > * {
      @include media(max,small) {
        font-size: clamp(10px, 1.5vw, 12px)
      }
    }
  }

  // footer margin modifiable
  & .with {
    padding-inline: var(--margin-global) !important;
    padding-block: calc(var(--h-header) + 20px) 45px !important;
  }
  & .without {
    padding-inline: var(--margin-global) !important;
    padding-block: calc(var(--h-header) + 20px) 0 !important
  }
}
